<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diary">
    <!-- 네트워크 사용위한 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dangdari_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/dangdari_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diary"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PlaylistDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Diary_resultActivity"
            android:exported="false" />
        <activity
            android:name=".PlayListActivity"
            android:exported="false" />
        <activity
            android:name=".JoinDiaryActivity"
            android:exported="false" />
        <activity
            android:name=".MakeDiaryActivity"
            android:exported="false" />
        <activity
            android:name=".Diary_initialActivity"
            android:exported="false" />
        <activity
            android:name=".Email_verifyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".WritingActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>